URxvt.scrollBar:false
URxvt*font:xft:Hack:size=12
URxvt*scaleHeight: 0.75

URxvt.iso14755: false
URxvt.iso14755_52: false

XTerm.vt100.faceName:book:size=12

! Gruvbox
*background: #1d2021
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! !! jellybeans
! *foreground:    #c5c5c5
! *background:    #121212
! *cursorColor:   #c5c5c5
! !black
! *color0:#1a1a1a
! *color8:#404040
! !red
! *color1:#d75f5f
! *color9:#ea8484
! !green
! *color2:#87af5f
! *color10:#c7f09f
! !yellow
! *color3:#ffaf5f
! *color11:#ffcc9a
! !blue
! *color4:#87afd7
! *color12:#a5caef
! !magenta
! *color5:#8787af
! *color13:#a6a6de
! !cyan
! *color6:#5f8787
! *color14:#69b2b2
! !white
! *color7:#808080
! *color15:#d7d7d7


! ! Challenger Deep Xresources palette
! 
! ! special
! *.foreground:   #cbe3e7
! *.background:   #1b182c
! *.cursorColor:  #fbfcfc
! 
! ! black
! *.color0:       #565575
! *.color8:       #100e23
! 
! ! red
! *.color1:       #ff8080
! *.color9:       #ff5458
! 
! ! green
! *.color2:       #95ffa4
! *.color10:      #62d196
! 
! ! yellow
! *.color3:       #ffe9aa
! *.color11:      #ffb378
! 
! ! blue
! *.color4:       #91ddff
! *.color12:      #65b2ff
! 
! ! magenta
! *.color5:       #c991e1
! *.color13:      #906cff
! 
! ! cyan
! *.color6:       #aaffe4
! *.color14:      #63f2f1
! 
! ! white
! *.color7:       #cbe3e7
! *.color15:      #a6b3cc
 
! ! UnderTheSea
! special
! *.foreground:   #94aef2
! *.background:   #080808
! *.cursorColor:  #94aef2
! ! black
! *.color0:       #202020
! *.color8:       #202020
! ! red
! *.color1:       #b92a6a
! *.color9:       #da0c68
! ! green
! *.color2:       #0e9999
! *.color10:      #19c2c2
! ! yellow
! *.color3:       #3b3bab
! *.color11:      #5959e7
! ! blue
! *.color4:       #105bad
! *.color12:      #227cdf
! ! magenta
! *.color5:       #582fa6
! *.color13:      #6737c2
! ! cyan
! *.color6:       #266da2
! *.color14:      #6096bf
! ! white
! *.color7:       #899ca1
! *.color15:      #c0c0c0

! Base16 Embers
! Scheme: Jannik Siebert (https://github.com/janniks)

#define base00 #16130f
#define base01 #2c2620
#define base02 #433b32
#define base03 #5a5047
#define base04 #8a8075
#define base05 #a39a90
#define base06 #beb6ae
#define base07 #dbd6d1
#define base08 #826d57
#define base09 #828257
#define base0A #6d8257
#define base0B #57826d
#define base0C #576d82
#define base0D #6d5782
#define base0E #82576d
#define base0F #825757

! *foreground:   base05
! #ifdef background_opacity
! *background:   [background_opacity]base00
! #else
! *background:   base00
! #endif
! *cursorColor:  base05
! 
! *color0:       base00
! *color1:       base08
! *color2:       base0B
! *color3:       base0A
! *color4:       base0D
! *color5:       base0E
! *color6:       base0C
! *color7:       base05
! 
! *color8:       base03
! *color9:       base08
! *color10:      base0B
! *color11:      base0A
! *color12:      base0D
! *color13:      base0E
! *color14:      base0C
! *color15:      base07

! ! Dracula Xresources palette
! *.foreground: #F8F8F2
! *.background: #282A36
! *.color0:     #000000
! *.color8:     #4D4D4D
! *.color1:     #FF5555
! *.color9:     #FF6E67
! *.color2:     #50FA7B
! *.color10:    #5AF78E
! *.color3:     #F1FA8C
! *.color11:    #F4F99D
! *.color4:     #BD93F9
! *.color12:    #CAA9FA
! *.color5:     #FF79C6
! *.color13:    #FF92D0
! *.color6:     #8BE9FD
! *.color14:    #9AEDFE
! *.color7:     #BFBFBF
! *.color15:    #E6E6E6

#define rofi00 #1b182c
#define rofi01 #906cff
#define rofi02 #cbe3e7
#define rofi03 #63f2f1
#define rofi04 #ff8080

rofi.font: hack 12
rofi.color-enabled: true
rofi.color-window: rofi00, rofi01, rofi01
rofi.color-normal: rofi00, rofi02, rofi00, rofi01, rofi02
rofi.color-active: rofi00, rofi02, rofi00, rofi03, rofi02
rofi.color-urgent: rofi00, rofi02, rofi00, rofi04, rofi02
